:root{
    --main-bg-color:#fff;
    --main-text-color:#888888;
}
[data-theme="dark"]{
    --main-bg-color:#1e1f26;
    --main-text-color:#ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    transition: all ease 0.2s;
}

.head{
    color: var(--main-text-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: monospace;
    padding: 1rem 0;
    font-size: 2rem;
    transition: all ease 0.2s;
}

.clock{
    background-image: url(./img/clock.png);
    min-height: 18rem;
    min-width: 18rem;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: var(--main-bg-color);
    border: 4px solid var(--main-bg-color);
    box-shadow: 0px -15px 15px rgba(255, 255, 255, 0.05),inset 0px -15px 15px rgba(0,0,0,0.3),inset 0px 15px 15px rgba(0,0,0,0.3);
}

.clock::before{
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    border: 2px solid var(--main-bg-color);
    background-color: var(--main-text-color);
    position: absolute;
    border-radius: 50%;
    transition: all ease 0.2s;
    z-index: 1000;
}

.hour,.min,.sec{
    position: absolute;
    display: flex;
    justify-content: center;
    /* border-radius: 50%; */
}

.hour{
    height: 10rem;
    width: 10rem;
}

.hour::before{
    content: "";
    position: absolute;
    background-color: var(--main-text-color);
    height: 53%;
    width: 6px;
    border-radius: 4px;
}

.min{
    height: 12rem;
    width: 12rem;
}

.min::before{
    content: "";
    height: 50%;
    width: 4px;
    background-color: var(--main-text-color);
    border-radius: 4px;
}


.sec{
    height: 13rem;
    width: 13rem;
}
.sec::before{
    content: "";
    background-color: var(--main-text-color);
    height: 60%;
    width: 2px;
    border-radius: 2px;
}

.mode{
    margin: 2rem auto;
}

.switchButton{
    font-family: monospace;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--main-text-color);
    border-radius: 0.25rem;
    transition: all ease 0.2s;
}